@import "normalize";
@import "variables";

//Global Styles

body {
  width: 100%;
  background: #dea600 url("beerback.jpg") repeat-x center center;
  background-attachment: fixed;
}

//End Global Styles

//Typography

h1, h2, h3 {
  font-family: $font-headline;
  color: $color-light;
}

h1 {
  font-size: 7.0em;
  line-height: 10%;
  color: #f3f3f3;
}

h3 {
  font-size: 2.0em;
  margin-top: 0px;
  margin-bottom: -5px;
}

h4 {
  font-family: $font-paragraph;
  color: $color-light;
  font-size: 1.5em;
  font-weight: 500;
}

p {
  font-family: $font-paragraph;
  color: $color-light;
  font-size: 1.2em;
  line-height: 1.4;
  font-weight: 300;
}

sup {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
}

//End Tyopography

//Landing Page

#mainContainer {
  max-width: 800px;
  margin: 100px auto 50px auto;
  background: $color-primary;
  border: 15px solid $color-secondary;
  border-radius: 25px;
  padding: 0 50px 0 50px;
}

#topRow {
  text-align: center;
}

.beerLogo {
  max-width: 30%;
  display: inline-block;
  margin: -100px 0 0 -25px;
}

.beerTitle {
  display: inline-block;
}

.intro {
  margin-top: 0px;
}

select {
  width: 100%;
}

.customSelect { 
  font-family: $font-paragraph;
  font-weight: 300;
  font-size: 1.1em;
  background: $color-light url("arrow.jpg") right center no-repeat;
  background-size: contain;
  color: $color-dark;
  padding: 3px 9px;
  width: 500px;
  border-radius: 10px;
}

.customSelect.customSelectHover {
  margin: -3px 0 -3px -3px;
  border: 3px solid $color-secondary;
}

//End Landing Page

//Recs

#recs {
  img {
    float: left;
    padding: 0 15px 0 0;
    border-radius: 5px;
    line-height: 1.4;
  }
  h4 {
    clear: left;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  p {
    margin-top: -7px;
  }
  a {
    color: $color-light;
    &:hover {
      color: $color-secondary;
    }
  }
}

#rec1 {
  div {
    height: 100%;
    clear: left;
    position: relative;
    display: block;
  }
  p {
    font-size: 1.1em;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

#spacer {
  width: 100%;
  clear: left;
  display: block;
}

//End Recs

//Submits

#submitButton, #tryAgain, #error {
  text-align: center;
  padding-bottom: 25px;
}

#tryAgain {
  margin-top: 50px;
  clear: left;
  p {
    font-weight: 400;
    margin-bottom: -10px;
  }
}

#beersubmit, #continue {
  font-family: $font-headline;
  font-size: 1.2em;
  border-radius: 10px;
  padding: 10px 10px;
  box-shadow: none;
  border: none;
  background: $color-secondary;
  color: $color-light;
  margin: 30px auto 0 auto;
  &:hover {
    cursor: pointer;
    border: 3px solid $color-light;
    margin: 27px auto -3px auto;
  }
  &:active {
    background: $color-primary;
  }
  &:focus {
    outline:0;
  }
}

//End Submits

//Responsive Styles

//iPad Landscape @media (max-width: 1025px) {}

@media (max-width: 1014px) {
  #mainContainer {
    max-width: 700px;
  }
  .beerLogo {
    max-width: 25%;
    margin: -125px 0 0 -40px;
  }
  .intro {
    margin-top: 5px;
  }
  h1 {
    font-size: 6.0em;
  }
  p {
    font-size: 1.15em;
  }
  h3 {
    font-size: 1.8em;
  }
  h4 {
    font-size: 1.4em;
  }
}

@media (max-width: 888px) {
  #mainContainer {
    max-width: 600px;
  }
  .beerLogo {
    margin: -200px 0 0 -30px;
  }
  h1 {
    font-size: 5.7em;
  }
  #rec1 p {
    font-size: 1.05em;
  }
  #beersubmit, #continue {
    font-size: 1.1em;
  }
}

@media (max-width: 783px) {
  #mainContainer {
    max-width: 500px;
    margin: 50px auto 50px auto;
  }
  h1 {
    font-size: 5.0em;
  }
  p {
    font-size: 1.05em;
  }
  h2 {
    font-size: 1.3em;
  }
  .customSelect { 
    font-size: 1.0em;
  }
  h3 {
    font-size: 1.6em;
  }
  h4 {
    font-size: 1.2em;
  }
}

//iPad Portrait @media (max-width: 769px) {}

//iPhone6 Landscape @media (max-width: 737px) {}

@media (max-width: 699px) {
  #mainContainer {
    max-width: 400px;
    margin: 50px auto 50px auto;
  }
  .beerLogo {
    max-width: 30%;
    margin: -125px 0 0 -20px;
  }
  h1 {
    font-size: 4.5em;
  }
  p, #rec1 p {
    font-size: 1.0em;
  }
  h2 {
    font-size: 1.15em;
  }
  .customSelect { 
    width: 350px;
  }
  h3 {
    font-size: 1.4em;
    margin-top: 5px;
  }
}

//iPhone6 Landscape @media (max-width: 668px) {}

@media (max-width: 599px) {
  #mainContainer {
    max-width: 350px;
    margin: 25px auto 25px auto;
    border: 10px solid $color-secondary;
  }
  h1 {
    font-size: 4.0em;
  }
  h2 {
    font-size: 1.1em;
  }
  h3 {
    font-size: 1.3em;
  }
  h4 {
    font-size: 1.1em;
  }
}

//iPhone5 Landscape @media (max-width: 569px) {}

@media (max-width: 519px) {
  #mainContainer {
    margin: 50px auto 25px auto;
    padding: 0 25px 0 25px;
  }
  .beerLogo {
    margin: -125px 0 0 -30px;
  }
  h1 {
    font-size: 3.25em;
  }
  .customSelect { 
    width: 300px;
  }
  #tryAgain {
    margin-top: 25px;
  }
}

//Smartphone Landscape @media (max-width: 481px) {}

@media (max-width: 462px) {
  #mainContainer {
    max-width: 325px;
  }
  h1 {
    font-size: 3.05em;
  }
  h2 {
    font-size: 1.0em;
  }
  h3 {
    font-size: 1.2em;
    margin-bottom: -15px;
    margin-top: 10px;
  }
  h4 {
    font-size: 1.0em;
  }
  .customSelect { 
    font-size: .975em;
  }
  #beersubmit, #continue {
    font-size: 1.0em;
    padding: 8px 10px;
  }
}

@media (max-width: 426px) {
  #mainContainer {
    max-width: 300px;
    border: 7px solid $color-secondary;
    padding: 0 20px 0 20px;
    margin: 40px auto 25px auto;
  }
  .beerLogo {
    margin: -125px 0 0 -30px;
  }
  h1 {
    font-size: 2.9em;
  }
  h2 {
    font-size: 1.0em;
  }
  h3 {
    font-size: 1.2em;
    margin-bottom: -15px;
    margin-top: 10px;
  }
  h4 {
    font-size: 1.0em;
  }
  .customSelect { 
    font-size: .95em;
    width: 275px;
  }
  #beersubmit, #continue {
    font-size: 1.0em;
    padding: 8px 10px;
  }
}

//iPhone 6+ Vertical @media (max-width: 415px) {}

@media (max-width: 385px) {
  #mainContainer {
    max-width: 250px;
    padding: 0 20px 0 20px;
    margin: 30px auto 25px auto;
  }
  .beerLogo {
    margin: -125px 0 0 -20px;
  }
  .intro {
    margin-top: 0px;
  }
  h1 {
    font-size: 2.75em;
  }
  h2 {
    font-size: 1.0em;
  }
  h3 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1.0em;
  }
  .customSelect { 
    width: 225px;
  }
}

//iPhone6 Vertical @media (max-width: 376px) {}

@media (max-width: 335px) {
  #mainContainer {
    padding: 0 15px 0 15px;
  }
}

//Smartphone Vertical @media (max-width: 321px) {}

//End Responsive Styles
