/**
 * Custom color scheme
 * ----------------------------------------------------------------------------
 */

$body-bg: #FFF;

$topbar-bg-color: #0F277F;

$topbar-link-bg-active: #1078E8;
$topbar-link-bg-active-hover: #11C2FF;
$topbar-link-bg-hover: #11C2FF;

$tabbar-bg: #0F277F;