/**
 * Custom color scheme
 * ----------------------------------------------------------------------------
 */

$body-bg: #FFF;

$primary-color: #293f8f;
$secondary-color: #1078E8;
$info-color: #11C2FF;

$topbar-bg-color: $primary-color;

$topbar-link-bg-active: $secondary-color;
$topbar-link-bg-active-hover: $info-color;
$topbar-link-bg-hover: $info-color;

$tabbar-bg: $primary-color;
$off-canvas-bg: $secondary-color;
$off-canvas-link-color: #FFF;

$anchor-font-color: $primary-color;
$anchor-font-color-hover: $secondary-color;

$button-function-factor: 15%;