/**
 * Custom variables
 * ----------------------------------------------------------------------------
 */

$body-font-family: Rokkitt, Times, sans-serif;

$header-font-family: Rajdhani, Helvetica, Arial, sans-serif;
$header-font-weight: 600;

$code-font-family: "Anonymous Pro", 'Liberation Mono', Courier, monospace;

$topbar-height: 4.0rem;
$tabbar-height: 4.0rem;